@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css');
@import '~react-toastify/dist/ReactToastify.css';

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  font-family: 'NanumSquare';

  button {
    cursor: pointer;
    user-select: none;
  }
}

.toastui-editor-contents h1,
.toastui-editor-contents h2,
.toastui-editor-contents h3,
.toastui-editor-contents h4,
.toastui-editor-contents h5,
.toastui-editor-contents h6 {
  margin: 4px !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
